

.tableArea {
    width: 98%;
    margin: auto;
    height: 94%;
    margin-top: 1%;
}


.tableTop {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 10px 0;
    background-color: rgb(12, 38, 81);
    z-index: 100;
    color: #f2f2f2;

}
.ult{
    width: 100%;
    margin:0;
    height: 91%;
    overflow: hidden;
    border: 1px solid #0659a3;
}
.ult li {
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    list-style: none;

}

.tableTop span {
    width: 16%;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    float: left;
    font-size: 0.3rem;
}

.ult li span {
    width: 14%;
    display: inline-block;
    text-align: center;
    font-size: 0.33rem;
    color: #f2f2f2;
    float: left;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.scrollBar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.scrollBar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 150, 246, 1);
    background: rgba(0, 150, 246, 1);
}

.scrollBar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(27, 23, 142, 1);
    background: rgb(27,23,142);
}

